.navbar { 
    background-color:#34383c !important;
    height: 80px;
}
.navbar-nav, .nav-link {
    color:whitesmoke !important;
    font-weight: bold;
    
}
.nav-link:hover{ 
    color: #a33dc2 !important;
}
.navbar-brand {
    font-size: 1.4em;
    color:#ebebeb !important;
}

.navbar-brand>img {
    width:100px;
    height:75px;
}
.nav-item {
    background-color: #34383c;
    color: whitesmoke !important;
}
.navbar-collapse {
    background-color: #34383c;
    top: 0;
    padding: 20px
}
.dropdown-menu {
    background-color: #34383c !important;
    color: whitesmoke;
}
.nav-item.dropdown:hover .dropdown-menu {
    display: block !important;
}
.dropdown-item {
    background-color: #34383c;
    color: whitesmoke !important;
    font-weight: bold;
}
.dropdown-item:hover {
    color:#8e00b9 !important;
    background-color: #34383c !important; 
    font-weight: bold;
}